<div class="wrapper">
  <div class="buttons">
    <mat-radio-group (change)="getByStartingChar(favoriteOption)" class="radio-group" [(ngModel)]="favoriteOption">
      <mat-radio-button class="radio-button" *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-nav-list>
    <mat-list-item *ngFor="let contact of contacts" [routerLink]="['/contact-edit',contact.$key]">
      <img matListAvatar *ngIf="contact.imageUrl" [src]="contact.imageUrl" alt="contact image">
      <a matLine>{{contact.name}}</a>
      <button mat-icon-button>
        <mat-icon>info</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>

