@import "./sass/config";
header {
  float: left;
  width: 100%;
  height: 550px;
  position: relative;
  padding-top: 60px;
  @include linearGradient(135deg, #fab727, #cd5c5c);
  /* Mobile */
  #mobile {
    bottom: -90px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 550px;
    height: 660px;
    background: #3a4041;
    border-radius: 10px;
    border: 6px solid #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: 10;
    /* Camera */
    &::after {
      display: block;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #505b5d;
      position: absolute;
      top: 20px;
      left: 50%;
      margin-left: -5px;
    }
    /* Speaker */
    &::before {
      display: block;
      content: "";
      width: 120px;
      height: 10px;
      border-radius: 5px;
      background: #505b5d;
      position: absolute;
      top: 40px;
      left: 50%;
      margin-left: -60px;
    }
    /* Screen */
    #screen {
      display: block;
      content: "";
      width: 500px;
      height: 525px;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: #232728;
      border-radius: 5px;
      /* Button */
      &::after {
        display: block;
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: -64px;
        left: 50%;
        margin-left: -22px;
        background: #667477;
        border-radius: 22px;
        border: 7px solid #505b5d;
      }
      /* Blind Bling */
      span:before {
        display: block;
        opacity: 0;
        position: absolute;
        top: 240px;
        left: 170px;
        text-align: center;
        width: 20px;
        height: 20px;
        content: "$";
        font-family: "Roboto", sans-serif;
        font-size: 19px;
        color: #fff;
        line-height: 20px;
      }
      mat-sidenav {
        min-width: 200px;
        h3 {
          text-align: center;
        }
      }
      mat-toolbar {
        position: sticky;
        top: 0px;
        z-index: 1;
        .app-toolbar {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 86%;
        }
      }
    }
    /* Mobile: Shadow */
    #shadow {
      position: absolute;
      bottom: -26px;
      left: 50%;
      margin-left: -115px;
      display: block;
      width: 230px;
      height: 2px;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 50%;
      z-index: -5;
      -webkit-filter: blur(4px);
      -moz-filter: blur(4px);
      -ms-filter: blur(4px);
      -o-filter: blur(4px);
      filter: blur(4px);
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: 5px;
}

.app-container {
  padding: 15px;
}
