@import 'reset';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; 
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Nunito:400);

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
  }
  .mat-button, .mat-raised-button, .mat-icon-button, .mat-fab, .mat-mini-fab, .mat-list-item-content {
    font-family: 'Nunito', sans-serif;
  }